.mywork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 80px auto;
  max-width: 1300px;
  padding: 0 20px;
}

.mywork-tittle {
  position: relative;
  text-align: center;
}

.mywork-tittle h1 {
  font-size: 70px;
  font-weight: 600;
}

.mywork-tittle img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  z-index: -1;
}

.mywork-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 أعمدة على الكبير */
  gap: 40px;
  width: 100%;
}

.mywork-container img {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.mywork-container img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  border: 4px solid #ff00ff;
  border-radius: 20px;
}

/* ============================
   Responsive
============================ */

/* Tablet */
@media (max-width: 992px) {
  .mywork-container {
    grid-template-columns: repeat(2, 1fr); /* 2 أعمدة */
    gap: 30px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .mywork-container {
    grid-template-columns: 1fr; /* عمود واحد لكل Item */
    gap: 20px;
  }

  .mywork-container img {
    height: 250px;
  }

  .mywork-tittle h1 {
    font-size: 50px;
  }
}
