.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin: 80px 170px;
}

/* Title */
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0 30px;
  font-size: 70px;
  font-weight: 600;
}
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* Main Section Layout */
.about-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  width: 100%;
}

.about-left img {
  width: 350px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

.about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Paragraphs */
.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

/* Skills */
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: 0.3s;
}

.about-skill p {
  min-width: 150px;
  font-size: 22px;
  font-weight: 600;
}

.about-skill hr {
  outline: none;
  border: none;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(265deg, #df8908 -5.09%, #b415ff 106.28%);
}

/* Achievements */
.about-achievements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}

.about-achevement {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.about-achevement h1 {
  font-size: 55px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achevement p {
  font-size: 20px;
  font-weight: 700;
}

.about-skill:hover {
  transform: scale(1.05);
}

.about-achevement:hover {
  transform: scale(1.12);
}

/* --------------- Responsive --------------- */

@media (max-width: 900px) {
  .about {
    margin: 50px 25px;
    gap: 60px;
  }

  .about-title h1 {
    font-size: 48px;
  }

  .about-title img {
    width: 130px;
    right: -10px;
  }

  .about-sections {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .about-left img {
    display: none;
  }

  .about-right {
    width: 100%;
    align-items: center;
    gap: 35px;
  }

  .about-para {
    font-size: 19px;
    width: 90%;
    line-height: 2.2;
    text-align: left;
    margin-left: 38px;
  }

  /* Skills */
  .about-skills {
    width: 100%;
    align-items: center;
    gap: 18px;
  }

  .about-skill {
    width: 90%;
    gap: 25px;
  }

  .about-skill p {
    min-width: 120px;
    font-size: 20px;
  }

  .about-skill hr {
    height: 8px;
  }

  /* Achievements */
  .about-achievements {
    width: 100%;
    flex-direction: column;
    gap: 25px;
  }

  .about-achievements hr {
    width: 100%;
    height: 1px;
  }

  .about-achevement h1 {
    font-size: 42px;
  }

  .about-achevement p {
    font-size: 18px;
  }
}
