.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 170px;
}

/* ============ TOP ============ */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-top-left {
  flex: 1 1 300px;
}

.footer-top-left img {
  max-height: 80px;
  width: auto;
  filter: contrast(120%) brightness(110%);
  margin-bottom: 10px;
}

.footer-top-left p {
  font-size: 18px;
  font-family: Outfit;
  max-width: 400px;
}

.footer--top-right {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-email {
  display: flex;
  gap: 10px;
  padding: 15px 25px;
  border-radius: 50px;
  background: #32323b;
}

.footer-email input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 16px;
  width: 180px;
}

.footer-subscribe {
  font-size: 16px;
  padding: 15px 35px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  transition: 0.3s;
}

.footer-subscribe:hover {
  transform: scale(1.05);
}

/* ============ BOTTOM ============ */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 18px;
  gap: 15px;
  margin-bottom: 30px;
}

.footer-bottom-right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

/* Hover effect for email input */
.footer-email:hover {
  border: 2px solid white;
}

/* ============ MEDIA QUERIES ============ */
@media (max-width: 768px) {
  .footer {
    margin: 50px 20px;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer--top-right {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
  }

  .footer-email input {
    width: 100%;
  }

  .footer-bottom {
    margin-bottom: 20px;
    flex-direction: column;
    gap: 10px;
  }
}
